/* Main */
:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

@font-face {
  font-family: Ubuntu;
  src: url(../Ubuntu-Regular.ttf);
}

html, body {
  margin: 0px;
  overflow-x: hidden;
  font-family: Ubuntu, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  border: .5px solid #272727;
  border-radius: 5px;
  box-shadow: var(--shadow-elevation-low);
}

button:hover, button:active {
  box-shadow: var(--shadow-elevation-medium);
}

/* Nav */

nav {
  background-color: #f1f1f1;
  box-shadow: var(--shadow-elevation-medium);
  height: 50px;
  display: flex;
  position: fixed;
  width: 100vw;
  column-gap: 15px;
  padding: 0em 0.5em;
  top: 0px;
  align-items: center;
  z-index: 1;
  padding-top: 10px;
}

.nav-logo {
  margin: 0px;
}

#menu {
  width: 0px;
  height: 0px;
  transition: width .15s ease-in-out, height .15s ease-in-out;
  padding: 0px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
}

#menu.open {
  opacity: 1;
  visibility: visible;
  width: 25vw;
  height: 100vh;
  box-shadow: var(--shadow-elevation-medium);
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 1.25em 1.95em;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(auto-fit, 3.5em);
  background-color: #f1f1f1;
}

#menu, ul, li {
  list-style-type: none;
}

@keyframes menuLinkHover {
  0% {
    background-color: rgb(226, 43, 43);
  }
  25% {
    background-color: rgb(226, 192, 43);
  }
  50% {
    background-color: rgb(86, 226, 43);
  }
  75% {
    background-color: rgb(43, 226, 214);
  }
  100% {
    background-color: rgb(150, 43, 226);
  }
}

li > a {
  text-decoration: none;
  border-radius: 5.5px;
  color: #ffffff;
  padding: 1em .25em;
  box-shadow: var(--shadow-elevation-low);
  text-align: center;
}

li > a:link, li > a:visited {
  color: #272727;
}

li > a:hover {
  animation: menuLinkHover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  box-shadow: var(--shadow-elevation-high);
}

#navbar-outside {
  width: 0px;
  height: 0px;
  transition: height .05s ease-in-out;
  padding: 0px;
  position: fixed;
  z-index: 1;
}

#navbar-outside.open {
  width: 75vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: rgb(39, 39, 39, .7);
  backdrop-filter: blur(10px);
}

.search-result-container {
  position: absolute;
  left: 0px;
  border-radius: 15px;
  top: 34px;
  padding: 0px;
  height: 100vh;
  overflow: auto;
}

.search-result-box {
  height: 370px;
  background-color: #272727;
  width: 100vw;
  color: #fff;
}

.big-text {
  color: white;
  font-size: 6em;
  transition: 0.5s;
  transition: text-shadow 0.85s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

.big-text:hover {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
  0 3px 0 #ccc, 0 4px 0 #ccc,
  0 5px 0 #ccc, 0 6px 0 #ccc,
  0 7px 0 #ccc, 0 8px 0 #ccc,
  0 9px 0 #ccc, 0 10px 0 #ccc,
  0 11px 0 #ccc, 0 12px 0 #ccc,
  0 20px 30px rgba(0, 0, 0, 0.5);
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #279696;
  transform-origin: 0%;
  z-index: 1;
}

/* Content */
.big-image {
  background-image: url("../posters.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 780px;
  background-size: cover;
  display: grid;
  place-content: center;
  color: #fff;
  font-size: 160%;
  text-align: center;
  box-shadow: var(--shadow-elevation-medium);
}

.border-titles {
  width: 500px;
  height: auto;
  border: .5px solid #f1f1ff;
  background-color: rgba(39, 39, 39, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  position: relative;
  z-index: 0;
}

.title {
  text-align: center;
}

@keyframes rotateTitle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.squish-squash-text {
  transition: transform .25s ease-in-out;
}

.squish-squash-text:hover {
  transform: scaleX(.75) scaleY(1.75);
}

.rotate-title:hover {
  animation-name: rotateTitle;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.card {
  background-color: #f0f0f0;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 15px;
  margin-top: 1.75em;
  margin-bottom: 3.75em;
  margin-left: 10em;
  margin-right: 10em;
  display: grid;
  height: auto;
  padding: 1.15em .85em;
  justify-content: center;
  grid-template-areas: 'title title title' 'chart chart chart' 'chart chart chart';
}

.chart {
  max-height: 780px;
  width: 800px;
}

.card .title {
  grid-area: title
}

.card .chart {
  grid-area: chart;
}


